*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

body{
    background-color: rgb(235, 216, 191);
}

#start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-weight: bold;
}

#title{
    font-size: 4.5rem;
    padding: 50px;
    /* border: 1px solid red */

    animation: fromRight 600ms ease-in-out;

    /* transform: translate(100%, 0%); */
}

#title-outer{
    overflow: hidden;
}

#instructions-container{
    font-size: 1.2rem;
    font-weight: normal;
    overflow: hidden;
    position: relative;
    width: 66%;

    background-color: rgba(128, 128, 128, 0.219);
    padding: 20px;
    border-radius: 45px 25px 45px 25px;
    animation: appear 400ms 900ms ease backwards;
    transform-origin: left center;
}

#start-btn{
   position: relative;
   left: 50%;
   transform: translate(-50%, 0%);
   margin-top: 30px;

   width: 20%;
   padding: 10px;

   color: white;
   border: none;
   border-radius: 25px;
   font-weight: bold;
   letter-spacing: 2px;
}

.button{
    background-color: green;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: rgb(15, 85, 15);
}


@keyframes fromRight {
    0%{
        transform: translate(100%, 0%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes appear {
    from{
        
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.arrow{
    position: relative;
    width: 100px;
    height: 100px;
}

.arrow:hover{
    cursor: pointer ;
    user-select: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }