*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: url('./imgs/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    max-height: 100%;
}

/* Instructions styles */

#start-container, #results-container{
    width: 66%;
    height: 40%;
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 25px;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    background-color: rgba(26, 23, 23, 0.863);

    border-radius: 25px;

    line-height: 35px;
    font-size: 1.5rem;
}

.button{
    margin-top: 30px;

    width: 20%;
    padding: 10px;
 
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 2px;
 
    background-color: green;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: rgb(15, 85, 15);
}

.input-container{
    display: block;
    width: 100%;

    padding: 8px;
}

.input-container > label{
    margin-left: 10px;
}

input {
    width: 20%;
}

/******************** Game styles ********************/ 

#game-container {
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}
    
#stage-one, #stage-two, #stage-three{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    /* border: 1px solid red; */
}
 
.tile{
    width: 85px;
    height: 85px;
    position: absolute;

    transform: translate(-50%, -50%);
}

.static-tile{
    border-radius: 100%;
}

.car-container{
    /* border: 1px solid red; */
    width: 20%;
    height: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: nowrap;

    background-image: none;
     
}

.car-container > img{
    width: 40%;
}
 

#timer-container{
    position: absolute;
    display: inline;
    left: 20px;
    top: 20px;
    font-weight: lighter;
    font-size: 2rem;
}

#countdown{
    left: 50%;
    top: 50%;
    position: absolute;

    transform: translate(-50%, -50%);

    font-size: 4rem;
    font-weight: bold;
    color: rgb(255, 255, 255);

    cursor: default;
}

#countdown:hover{
    cursor: default;
}

.car-static-container{
    background-image: url('./imgs/static.png');
}


.flex-container{
    display: flex;
}

.hide{
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.selectable:hover{
    cursor: pointer;
    border: 3px dashed white;
}

.squish{
    transform: scaleX(1.9);
}

.squish *{
    transform: scaleX(calc(1 / 1.9));
}

.pre{
    white-space: pre;
}

@media screen and (max-width: 1400px){
    .tile{
        width: 69px;
        height: 69px;
        border: none;
    }
}