*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

#main-container{
    width: 100vw;
    height: 100%;
    background-color: antiquewhite;

    justify-content: space-evenly;
}

.inner-container{
    width: 20%;
    height: 200px;
    margin: 30px;
    padding: 10px 5px;
    background-color: rgb(159, 197, 147);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;
    border: 5px solid green;
    border-radius: 10% 0% 10% 0%;
}

.inner-container > img{
    max-height: 50%;
    width: 80%;
    object-fit: contain;
    padding: 5px;
    text-align: center;
 
}
 
.section-link{
    width: 80%;
    padding: 5px;
    border: none;
    font-weight: normal;
    text-decoration: none;
    color: black;

    /* border: 1px solid red; */

    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.section-link:hover{
    cursor: pointer;
}

.section-link:active{
    background-color: darkgray;
}

.flex-container{
    display: flex;
}
 
